/* body{
    text-align: center;
    background-color: #E5e6E4;
    font-family: sans-serif;
} */

/* button{
    background-color: #CCDBDC;
    border: none;
    margin: .3125rem;
    border-radius: .125rem;
    border: .125rem outset black;
}

.screen{
    border: 2px solid #5A6F7B;
    padding: .625em;
    box-shadow: 1em 1em 1em #5a6f7b;
} */

/* #welcomeScreen{
    display: block;
}

#welcomeDisplay{
    display: flex;
    font-size: larger;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    min-height: 25em;
}

#tutorialScreen{
   display: none;
}

#gameScreen{
    display: none;
    justify-content: center;
    padding: 3em;
}

#gameDisplay{
    min-height: 25em;
    max-width: 30em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
}

#difficultyScreen{
    display: none;
    min-height: 25em;
}


#difficultyDisplay{
    padding-top: 150px;
} */

/* .gameSpace{
    max-width: 37.5em;
    background-color: #A5C0C9;
    margin: auto;
}

#gridSpace{
    margin-top: 1.5em;
    width: 100%;
    border: .1em inset #233038;
}

.grid-row{
    display: flex;
    justify-content: center;
}

.bombIcon{
    width: 1.0625em;
    height: auto;
    position: absolute;
    bottom: .125em;
    left: .375em;
}

.flagIcon{
    width: 17px;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.grid-column{
    width: 1.625em;
    height: 1.325em;
    padding-top: .3em;
    position: relative;
    border: .0625em solid black;
    background-color: #A5C0C9;
}

.userScores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: .125em inset #44535c;
}

.score{
    border: .125em outset black;
    border-radius: .3125em;
    background-color: black;
    color: #b6001e;
    font-weight: 600;
    margin: 1em;
    width: 9.375em;
    padding: .25em;
    display: flex;
    justify-content: space-between;
}

.scoreNum{
    width: 4.375em;
    text-align: right;
    margin-right: .3125em;
}

.scoreLabel{
    width: 7.8125em;
    padding-left: .125em;
    text-align: left;
}

#gameMessageHome{
    position: relative;
}

#gameMessage{
    text-align: center;
    width: 100%;
    color: #b6001e;
    text-shadow: .05em .05em .1em black;
    position: absolute;
    top:1.905em;
    right:4.27em;
    z-index: 1;
    font-size: 5em;
} 

#resetBtn{
    margin-top: .4325em;
    height: 3em;
    margin: 1.44em;
} */

@media (max-width: 600px){
    #gameScreen{
        padding:calc(3em*.3);
        padding-bottom: calc(11vw);
        
    }

    #gameDisplay{
        min-height: 20em;
    }
    
    #gridSpace{
        margin-top:calc(1.5em*.5)
    }

    .grid-column{
        width: 4vw;
        height: calc(4vw*.97);
        padding-top:calc(4vw*.03);
        font-size: calc(4vw*.75);
    }

    .bombIcon{
        width: 65.385%;
        height: auto;
        position: absolute;
        bottom: 7.69%;
        left: 23.07%;
    }
    .score{
        font-size: 50%;
        margin: calc(1em*.5);
        width: calc(9.375em*.5);
        padding: calc(.25em*.5);
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }
    .scoreLabel{
        text-align: center;
    }
    .scoreNum{
        text-align: center;
    }
    #resetBtn{
        margin:calc(1.44em*.5)
    }
    #gameMessage{
        font-size:calc(3.125em*.7);
        top: 4em;
        right:3.83em;
    }
}