/* *{
    border: 1px solid black;
} */

body{
    text-align: center;
    background-color: darkgrey;
    margin: 0;
}

.screen{
    height: 500px;
}

/*Welcome Screen*/
#welcomeScreen{
    display: block;
}

#welcomeDisplay{
    /* display: flex; */
    padding-top: 150px
}

#tutorialScreen{
   display: none;
}

#gameScreen{
    display: none;
}

#gameDisplay{
    /* height: 490px; */
    /* width: 500px; */
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
    /* align-items: space-between; */
}

#difficultyScreen{
    display: none;
}


#difficultyDisplay{
    padding-top: 150px;
}

.gameSpace{
    width: 500px;
    background-color: aqua;
    margin: auto;
}

.grid-row{
    display: flex;
    justify-content: center;
}

.grid-column{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: grey;
}

.grid-column:hover{
    background-color: rgba(200, 200, 200);
}

.userScores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}

.score{
    /* width: 300px; */
    display: flex;
    justify-content: space-between;
}

.scoreNum{
    width: 80px;
    text-align: right;
}

.scoreLabel{
    width: 80px;
}

#gameMessage{
    width: 100%;
    color: red;
}

@media (max-width: 600px){
    .gameSpace{
        width: 500px;
    }
}